#main-root {
    height: 100vh;
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    color: var(--primary);
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0;
}
a {
    color: var(--primary);
}
.sidemenu-border{
    background:#f9f9f9;
}
.ul_accordion {
    width: 100%;
    max-width: 360px;
}
.ul_accordion li {
    border-bottom: 1px solid #ccc;
}

.ul_accordion li a {
    background: var(--primary);
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}
.ul_accordion li ul li {
    border-color: #999;
}
.ul_accordion li ul li a {
    font-size: 12px;
    padding: 5px 10px;
}
.nav_x {
    background: var(--primary);
}
.nav_x, .nav_x a {
    color: var(--white);
    text-decoration: none;
}
.navbar{
    padding: .5rem 0px !important;
}
.social-list-item {
    list-style: none;
    display: inline;
    padding-right: 0px;;
}
.social-list-item li{
    display: inline;
     font-size: 14px;
    font-weight: 600;
    border: solid 1px #fafafa;
    padding: 3px 5px;
    margin-left: 10px;;
}
.info-list-item {
    list-style: none;
    display: inline;
    padding-left: 0px;
}
.info-list-item li {
    display: inline;
    font-size: 14px;
    font-weight: 600;
    /* border: solid 1px #fafafa; */
    /* padding: 3px 5px; */
}
.info-list-item li:nth-last-child(1){
    display: inline;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;

}
/* list group */
.list_items{
  list-style: square !important;
}
.list_items li{
  line-height: 30px;
  font-size: 15px;
}
/* navigation css */
.sun_navbar {
    -webkit-box-shadow: 0 0px 9px -7px black;;
       -moz-box-shadow: 0 0px 9px -7px black;;
            box-shadow: 0 0px 9px -7px black;;
    background-color: #fff;
}
@keyframes slideFromTop {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}
.sun_navbar.sticky-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    animation: slideFromTop .3s linear;
}
/* slider image */
#light-slider img{
width: 100%;
max-height: 600px;
}

/* about us part */
.about-company-container {
    background-color: #eeeeee;
}
.about-image {
    border-right: 1px #ffffff solid;
    width: 100%;
}
.about-image img{
    width: 100%;
}
.about-company {
    padding: 10px;
    color: #5e5e5e;
}
.about-company h1, .about-company h2, .about-company h3, .about-company h4, .about-company h5, .about-company p {
    color: #5e5e5e;
}
.about-company h1, .about-company h2, .about-company h3, .about-company h4, .about-company h5, .about-company p {
    margin: 0;
    padding: 10px 10px 0 10px;
    color: #5e5e5e;
}
.about-company h2{
    font-size: 20px;;
}
.about-company h4{
    font-size: 18px;;
}
.about-company p{
    font-size: 15px;;
}
.feature-box {
    background-color: #eeeeee;
    padding: 20px;
}
.feature-box .feature-title {
    color: #5e5e5e;
}
.feature-box p{
    font-size: 14px;
}
/* contact form  */
.contactform {
    background: #eeeeee;
    display: table;
    width: 100%;
    padding: 20px;
}
input {
    border: 0;
    background-color: #f76b5c;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    height: 48px !important;
}
.input4 {
    background-color: #ffffff;
    color: #444444;
    border: 1px #aaaaaa solid;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.card .card-title{
    text-align: center !important;
}
.btn.color2 {
    background-color: #d84c3d;
    color: #ffffff;
}
.btn.large {
    padding: 20px 40px;
}
.page-sidebar > .box-heading {
    background-color: #008dce;
    margin-bottom: 1px;
}
.box-block .box-content {
    position: relative;
}
.contactdetails-box-wr {
    background: #eeeeee;
}
.contactdetails-box-wr .contactdetails-box {
    display: table-row;
}
.box-heading span {
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    height: 58px;
    line-height: 58px;
    padding: 0px 20px;
    text-transform: uppercase;
}
.contactdetails-box-wr .contactdetails-box .details h1 {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.contactdetails-box-wr .contactdetails-box .details {
    display: table-cell;
    padding: 15px;
}
.breadcrumb{
    border-radius: 0px !important;
    background-color: transparent;
    padding: 0;
}
.breadcrumb > li + li:before {
   color: #CCCCCC;
   content: "/ ";
   padding: 0 5px;
}
/* services */
.suncity_services{
    background-color: #eeeeee;
}
.suncity_services img{
    width: 100%;
}
.suncity_services h1, .suncity_services h3 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}
.suncity_services p{
    text-align: center;
    font-size: 15px;
    text-transform: lowercase;
    text-align: justify;
}
.suncity_services .circle_dot{
    margin: auto;
    margin-left: -20px;
    text-align: center;
}
.suncity_services .circle_dot span{
    display: inline-block;
    border:solid blue 2px;
    height: 2px;
    width: 2px;
    margin-left: 20px;;

}
/* footer css */
footer{
    font-size: 12px;
    background-color: #333333;
    color: #aaaaaa;
    padding: 20px 0 0 0;
}
footer li {
	line-height: 25px;
}
footer a {
	color: #aaaaaa;
}
footer a:hover {
	text-decoration: none;
	color: #eeeeee;
}
footer .title {
    text-transform: uppercase;
    color: #aaaaaa;
    font-weight: 600;
    font-size: 13px;
    padding-bottom: 5px;
}
footer .footer_bottom{
    background-color: #222222;
    border-top: 1px #444444 solid;
    padding-top: 10PX;
}
footer .footer_bottom .copytxt {
    padding-bottom: 10px;
    display: inline-block;
}
footer .footer_bottom .btmlinks {
    padding-left: 20px;
}
